<div class="flex flex-col gap-y-6 pl-2">
  <div class="flex pt-3 gap-4 ">
    <div class="flex flex-col lg:flex-row items-center justify-center lg:gap-x-5 px-2 lg:px-4 lg:py-2  bg-seasalt border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
      <h5 class="text-4xl md:text-4xl lg:text-6xl font-bold text-blue">23</h5>
      <h5 class="text-xs text-center md:text-ms lg:text-sm lg:text-left font-bold tracking-tight text-gray w-min dark:text-white uppercase ">predios assignados pendientes</h5>
    </div>
    <div class="w-24 md:w-24 lg:w-40 flex flex-col lg:flex-row items-center justify-center gap-x-2 md:gap-x-2 lg:gap-x-5 px-2 lg:px-4 lg:py-2  bg-seasalt border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
      <h5 class="text-4xl md:text-4xl lg:text-5xl font-bold text-blue">23</h5>
      <h5 class="text-xs text-center md:text-xs lg:text-sm lg:text-left font-bold tracking-tight text-gray dark:text-white uppercase ">PUNTOS LOTES ASIGNADOS PENDIENTE</h5>
    </div>
    <div class="flex flex-col lg:flex-row items-center justify-center gap-x-2 md:gap-x-2 lg:gap-x-5 px-2 lg:px-4 lg:py-2  bg-seasalt border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
      <h5 class="text-4xl md:text-4xl lg:text-5xl font-bold text-blue">23</h5>
      <h5 class="text-xs text-center md:text-xs lg:text-sm lg:text-left font-bold tracking-tight text-gray w-min dark:text-white uppercase ">MANZANA ASIGNADAS PENDIENTEs</h5>
    </div>
    <div class="flex flex-col lg:flex-row items-center justify-center gap-x-2 md:gap-x-2 lg:gap-x-5 px-2 lg:px-4 lg:py-2  bg-seasalt border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
      <h5 class="text-4xl md:text-4xl lg:text-5xl font-bold text-blue">23</h5>
      <h5 class="text-xs text-center md:text-xs lg:text-sm lg:text-left font-bold tracking-tight text-gray w-min dark:text-white uppercase ">MANZANAS VERIFICABLES EN CAMPO</h5>
    </div>
    <div class="flex flex-col lg:flex-row items-center justify-center gap-x-2 md:gap-x-2 lg:gap-x-5 px-2 lg:px-4 lg:py-2  bg-seasalt border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
      <h5 class="text-4xl md:text-4xl lg:text-5xl font-bold text-blue">23</h5>
      <h5 class="text-xs text-center md:text-xs lg:text-sm lg:text-left font-bold tracking-tight text-gray w-min dark:text-white uppercase ">MANZANAS (EXPANSION URBANA)</h5>
    </div>
    <div class="flex flex-col lg:flex-row items-center justify-center gap-x-2 md:gap-x-2 lg:gap-x-5 px-2 lg:px-4 lg:py-2  bg-seasalt border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
      <h5 class="text-4xl md:text-4xl lg:text-5xl font-bold text-blue">23</h5>
      <h5 class="text-xs text-center md:text-xs lg:text-sm lg:text-left font-bold tracking-tight text-gray w-min dark:text-white uppercase ">OPERADORES DE CAMPO</h5>
    </div>
  </div>

  <div class="flex gap-x-3">
    <div class="w-1/3">
      <div class="flex flex-col lg:flex-row gap-2 lg:gap-x-5 justify-between">
        <h2 class="font-semibold text-black text-lg lg:text-3xl">Asignacion de carga</h2>
        <div class="bg-green rounded-lg text-white flex justify-center items-center py-1 gap-1 px-2">
          <span class="material-symbols-outlined">
            add
          </span>
          <button class="text-xs lg:text-lg" >Nueva carga
          </button>
        </div>
      </div>

      <h6 class="text-black mt-2">Buscar por:</h6>
      <div class="flex border border-gary-100 p-2 rounded-lg my-2">
        <input class="w-full" placeholder="Cod. carga y/o Urbanización">
        <span class="material-symbols-outlined">
          search
        </span>
      </div>

      <div class="w-full h-9 bg-black">

      </div>

    </div>

    <div class=" bg-gray h-full">
      ddd
    </div>
  </div>
</div>


