<div class="flex flex-col">
  <div class="flex pt-3 gap-4 px-4 py-3">
    <div class="card shadow-md">
      <span class="number">23</span>
      <span class="title">PREDIOS ASIGNADOS PENDIENTES</span>
    </div>
    <div class="card shadow-md">
      <span class="number">23</span>
      <span class="title">PUNTOS LOTES ASIGNADOS PENDIENTE</span>
    </div>

    <div class="card shadow-md">
      <span class="number">23</span>
      <span class="title">MANZANA ASIGNADAS PENDIENTE</span>
    </div>

    <div class="card shadow-md">
      <span class="number">23</span>
      <span class="title">MANZANAS VERIFICABLES EN CAMPO</span>
    </div>

    <div class="card shadow-md">
      <span class="number">23</span>
      <span class="title">MANZANAS (EXPANSION URBANA)</span>
    </div>

    <div class="card shadow-md">
      <span class="number">23</span>
      <span class="title">OPERADORES DE CAMPO</span>
    </div>
  </div>

  <div class="flex gap-x-3 px-4">
    <div class="w-250 lg:w-377 py-3">
      <div class="flex flex-col lg:flex-row gap-2 lg:gap-x-5 justify-betwee">
        <span class="title-primary">Asignacion de carga</span>
        <!-- esto va cambiar con material  -->
        <div class="bg-green rounded-lg text-white flex justify-center items-center py-0 gap-1 gap-x-2 px-3">
          <span class="material-symbols-outlined w-4">
            add
          </span>
          <button class="text-xs lg:text-base" >Nueva carga
          </button>
        </div>
      </div>

      <span class="text-black mt-3 text-base">Buscar por:</span>
      <div class="flex border border-gary-100 p-2 rounded-lg my-2 border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 text-base">
        <input class="w-full" placeholder="Cod. carga y/o Urbanización">
        <span class="material-symbols-outlined">
          search
        </span>
      </div>

      <div class="w-full h-9 bg-black">

      </div>

    </div>

    <div class=" bg-gray h-full">
      ddd
    </div>
  </div>
</div>
